@use '../custom' as *;

//GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95),rgba($secondary, 0.95), rgba($fourth, 0.95));
}

@mixin textGradient {
    background: linear-gradient(to right, rgba($primary, 0.95),rgba($secondary, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Absolute Center
@mixin absoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// transition property
@mixin transitionProperty {
    transition-duration: 800ms;
    transition-property: all;
}
